[tools]
vcs = "git"
env = 'venv'
lang = 'python'
dep = 'requirements'
test = 'pytest'

[plugins]
name = 'python.package.name'

[git]
ignored-tools = ['vim']
ignored-files = []
# you could add a template dir here

[python]
version = 3.4
ignored-tools = ['python']
