[tools]
vcs = "git"
lang = 'python'
test = 'pytest'
environment = 'venv'
dependency = 'requirements'

[plugins]
name = 'python.package.name'

[git]
gi-types = ['python']
ignored-files = []
# you could add a template dir here

[python]
version = 3.4
gitignore = ['python']
